.footer {
  padding: 40px 24px;
  background-color: #1f2937;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.container strong {
  display: block;
  margin-bottom: 8px;
}

.container p {
  color: #d1d5db;
  font-size: 14px;
}

@media (max-width: 650px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
}